<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= recipe.publication_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Calories per serving:</strong>
    <%= recipe.calories_per_serving %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category_id %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= recipe.instruction_id %>
  </p>

</div>
